.documentation {
    max-height: 100px;
    overflow: auto;
    background-color: #eff;
    width: 100%;
}

.results {
    display: flex;
}

.results>div{
    width: 50%;
}

.diagram {
    overflow: auto;
    background-color: #fef;
    margin: 0;
    width: 100%;
}